/*a
{
    text-decoration: none;
    color: #000000;
}*/

i
{
    cursor: pointer;
}

i:hover:before
{
    color:#FF1F1F;
}

a
{
    color: #000000;
    text-decoration: none;
}

a:hover
{
    font-weight: bold;
}

br
{
    clear: both;
}

body
{
    width: 100%;
    height: 100%;
    font-family: 'Candara';
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

input
{
    font-family: 'Candara';
    font-size: 13px;
}

input[type="text"], select
{
    margin: 10px 5px;
    font-size: 13px;
}

input[type="password"]
{
    margin: 10px 5px;
    font-size: 13px;
}

textarea
{
    font-family: 'Candara';
    font-size: 13px;
    margin: 10px 5px;
}

i[class^="icon-"]:hover 
{ 
    color: #ff0000;
}

hr
{
    padding: 0px;
    margin: 0px;
}

table
{
    width: 100%;
}

.full
{
    width: 100%;
}

.half
{
    width: 48%;
}

.modal
{
    font-size: 13px;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

.hidden
{
    display: none;
}

.text_center
{
    text-align: center;
}

.clear
{
    clear: both;
}

.font_besar
{
    font-size: 20px;
    font-weight: bold;
}


.logo
{
    float: left;
    height: 100px;
    width: 300px;
    margin-top: 10px;
}

.header
{
    display: table;
    font-size: 28px;
    height: 120px;
    position: relative;
    width: 100%;
}

.footer
{
    margin-top: 40px;
    width: 100%;
    height: 50px;
    font-size: 10px;
    text-align: center;
    display: inline-block;
}

.bg 
{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.login 
{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 400px;
    text-align: center;
    padding: 200px 0px;
    margin: 0 auto;
}



.label
{
    float: left;
    padding: 10px 5px;
    width: 120px;
}

.konten
{
    margin: auto;
    min-height: 90%;
    width: 85%;
}

.application
{
    float: right;
    width: 80%;
    text-align: left;
}


.list_menu
{
    background-color: #ef459f;
    width: 200px;
    float: left;
    margin: 0px;
    padding: 0px;
}

.list_menu div
{
    padding: 5px 0px 5px 3px;
    font-weight: bold;
}

.menu_item
{
    background-color: #FFCCE7;
    list-style-type: none;
    padding: 6px 0px 6px 20px;
}

.menu_item:hover
{
    background-color: #FFCCEF;
}

.menu_item a
{
    width:100%;
    height: auto;
    display: inline-block;
}


.halaman
{
    border: 1px solid #000000;
    color: #000000;
    display: inline-block;
    margin: 15px 0;
    padding: 1px 5px;
    text-decoration: none;
}